@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Sinhala:wght@900&family=Roboto:ital,wght@0,400;0,500;1,400&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  'Segoe UI Emoji', 'Noto Color Emoji', 'Segoe UI', 'Apple Color Emoji', 'Segoe UI Symbol', 'Android Emoji';
    text-decoration: none;
    
}
.googleAdds{

    display: flex;
    justify-content: center;
    align-items: center;    
    flex-wrap: wrap;
    margin: auto;
  
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.spase1{
    width: 100%;
    height: 35px;
}
.show{
    display: block;
}
.hide{
    display: none;
}

.navLink-active{
    border-bottom: 3px solid rgb(213, 64, 64);
    
    padding: 5px 0 0 0;
}
.line{
    width: 100%;
    background-color: hsl(0, 0%, 51%);
    height: 1px;
    border-radius: 25px;
}
.boldItem{
    text-align: center;
    border-radius: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
}
.boldItem p{
    font-size: 10px;  
    color: white;  
    background-color: #ff2504;
    border-radius: 25px;
    padding: 5px 10px;
}



nav{
    width: 100%;
    height: 60px;
    background: #444242;
    position: fixed;
    color: rgb(255, 255, 255);
    z-index: 100;
}
nav .navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav  .logo{
    font-size: 20px;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: DejaVu Sans Mono, monospace;
    padding: 0 5px 0 15px;
    font-weight: 600;
    color: #ffffff;
}
nav  .logo a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-family: DejaVu Sans Mono, monospace;
}
nav  .logo img{
    line-height: 60px;
    padding: 6px 2px;
}
nav .links ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
nav .links ul li{
    padding: 0 10px;

}
nav .links ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.2s;
}
nav .links ul li a:hover{
    color: red;
}

/*--------------------- Mobile nav START --------------------*/
.mobileNav{
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: aliceblue;
    position: absolute;
    right: 200%;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 60px;
    position: fixed;
}
.mobileNav .mbNavItm{
    width: 100%;
    height: 100%;
}
.mobileNav .mbNavItm ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}
.mobileNav .mbNavItm ul li{
    padding: 15px 0;
}
.mobileNav .mbNavItm ul li a{
    color: #000000;
}
.mobileNav .mb-logo{
    font-size: 30px;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0 5px 0 10px;
    font-weight: 600;
    color: #232323;

}
 .menubars{
    padding: 0 10px;
}
/*--------------------- Mobile nav END --------------------*/
/*------------- Top Search Box Start --------------------*/

.searchArea{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchArea .boxSerch{
    width: 80%;
    margin: 100px 0 25px 0;
    border: none;
    border-radius: 25px;
    transition: all 0.2s;
    background: #e65c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-size: 300% 300%; 
    animation: color 12s ease-in-out infinite;
}
.searchArea .shBoxText{
    text-align: center;
}
.searchArea .title1{
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding:25px 15px 30px 15px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.1px rgb(111, 110, 110);
    
}
.searchArea .title2{
    margin-bottom: 15px;
    color: antiquewhite;
    padding: 0 15px;
}
.searchArea .searchBox{
    display: flex;
    justify-content: center;
    
}

.searchArea .searchBox input{
    width: 80%;
    padding: 10px;
    border: 1px solid rebeccapurple;
    border-right: none;
}
.searchArea .searchBox button{
    padding: 0 20px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-left: none;
}

.sh_reslt_cover{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_reslult_box{
    background-color: rgb(253, 253, 253);
    width: 80%;
    position: relative;
    right: 50px;
    top: -30px;
}
.search_reslult_box ul{
    list-style: none;
}

.search_reslult_box ul a{
    color: #000000;
    text-decoration: none;
    
}
.search_reslult_box ul li span{
    font-size: 20px;

}
.search_reslult_box ul li:hover{
    background-color: rgb(229, 227, 224);
}
.search_reslult_box .imojiCll{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
 
}
.search_reslult_box .imojiCll span{
    font-size: 35px;
    
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@media only screen and (max-width:800px){
    .viiew .pannel .mainPannel{
        width: 100%;
        border-radius: 0;
        margin-top: 15px;
    }
    .viiew .pannel .mainPannel .mpbtn {
        flex-direction: column;
        justify-content: flex-end;
    }
}
@media only screen and (max-width:850px){
    .searchArea .boxSerch{
        width: 90%;
    }
    .searchArea .searchBox{
        padding: 0 15px;
    }
    .search_reslult_box{
        right: 35px;
    }
 
    
}

@media only screen and (max-width:600px){
    nav .links{
        display: none;
    }
    .menubars{
        display: block;
    }
    .searchArea .boxSerch{
        width: 95%;
    }
    .video_boder{
        margin:15px 5px;
        padding: 2px;
    }


}
@media only screen and (max-width:550px){
    .search_reslult_box{
        right: 30px;
        width: 75%;
    }
}
@media only screen and (max-width:470px){
    .searchArea .title1{
        padding:25px 20px 30px 20px;
        font-size: 35px;
    }
    .searchArea .title2{
        font-size: 15px;
    }
}

@media only screen and (max-width:412px){
    .searchArea .title1{
        font-size: 30px;
        padding:20px 15px 30px 15px;
    }
}
@media only screen and (max-width:412px){
    .searchArea .title1{
        font-size: 25px;
        padding:20px 15px 20px 15px;
    }
    .searchArea .title2{
        font-size: 13px;
    }
    .searchArea .searchBox{
        padding: 0 20px;
    }
}


/* =================================== nomel body css start =================================== */
/* =================================== nomel body css start =================================== */
/* =================================== nomel body css start =================================== */
/* =================================== nomel body css start =================================== */

.flipbar{width: 100%;background-color: aqua;}
.conBody{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.conBody .topCatBar{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    box-sizing: border-box;
    transition: all 1s ease-in-out;
}
.conBody .topCatBar .topCatBarCover{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.5s ease-in-out;
    
}
.conBody .topCatBar .topCatBarCover .topCatItm{
    background-color: #312f2f;
    padding: 5px 10px;
    margin: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 25px;
    border: 1px solid rgb(120, 120, 120);
    cursor: pointer;
}
.conBody .topCatBar .topCatBarCover .topCatItm span{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wpapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wpapper .disCover{
    width: 80%;
    /* background-color: red; */
}
.wpapper .disCover .display1{
    width: 100%;
    padding:  10px;
    /* background-color: #1d1d1d; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.wpapper .disCover .display1 .displyBoder{
    width: 80%;
    /* background-color: #aa4e4e; */

}
.wpapper .disCover .display1 .displyBoder .display{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wpapper .disCover .display1 .displyBoder .display input{
    width: 70%;
    height: 35px;
    font-size: 30px;
    padding: 5px;
}z
.wpapper .disCover .display1 .displyBoder .display button{
    font-size: 17px;
    font-weight: 500;
    font-family: 'Dhurjati', sans-serif;
font-family: 'Roboto', sans-serif;
border: none;
margin: 0;
}
.wpapper .disCover .display1 .displyBoder .display button#cppBtn{
    width: 80px;
    height: 45px;
    background-color: rgb(255, 226, 39);
    color: #000000;
padding: 0 5px;
}
.wpapper .disCover .display1 .displyBoder .display button#clearSearchBox{
    width: 60px;
    height: 45px;
    background-color: rgb(255, 30, 30);
    color: #000000;
color: white;
}
.wpapper .disCover .display1 .displyBoder{
    transition: all 1s ease-in-out;
}
.wpapper .disCover .display1 .displyBoder .display button#rightSlider{
    background-color: rgb(11, 11, 11);
    width: 30px;


}
.wapper2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wapper2 .keyBordCover{
    width: 80%;
    min-height: 100px;
    background-color: #e2e2e2;    
    transition: all 1s ease-in-out;
    min-height: 200px;
}
.wapper2 .keyBordCover h3{
    padding: 5px;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    color: #383838;
    /* border-radius: 25px; */
}

.wapper2 .keyBordCover .keboard{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;transition: all 1s ease-in-out;
}
.wapper2 .keyBordCover .keboard p{
    font-size: 33px;
    cursor: pointer;
    padding: 5px;
    /* background-color: #ffffff;   */
    margin: 5px;
    border-radius: 10px;
    border: 1px solid rgb(192, 182, 182);

}


.mainCatSlt{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mainCatSlt .mnSltBttn{
    width: 80%;
    background-color: #1d1d1d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #333333;
}
.mainCatSlt .mnSltBttn .mainBtnCover{
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.mainCatSlt .mnSltBttn .mainBtnCover button{
    margin: 5px;
    background:none;
    /* border: 1px 1px 0 1px solid #ffffff; */
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    border: 1px solid rgb(123, 123, 123);
    border-radius: 25px;
}
.mainCatSlt .mnSltBttn .mainBtnCover button p{
    font-size: 20px;
    padding: 2px;
}

.coppybarBackCovr{
    width: 100%;
    display: flex;
    justify-content: center;
}
.coppybarBackCovr .cpppNewCovre{
    width: 80%;
}



@keyframes blink {
    0% {
        background-color: #6f624f
    }
    50% {
        background-color: #FFA31A;
    }
    100% {
        background-color: #6f624f
    }
}

.active{
    background-color: #FFA31A !important;
    /* animation: blink 2s infinite; */
}
.active2{
    background-color: #535353 !important;
    border: 1px solid white !important; 
}

.lodMOreCover{
    width: 100%;
    
}

.loardMor{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 10px 0 10px 0;
}
.loardMor button{
    padding: 5px 10px;
    background-color: #ffd500;
    width: 60%;
    border: none;
}

@media only screen and (max-width:1065px){

}
@media only screen and (max-width:800px){
    .mblHideTop{
        display: none;
    }
    .wpapper .disCover .display1 .displyBoder{
        width: 90%;
    }
    .wpapper .disCover .display1 .displyBoder .display input{
        width: 100%;
    }
}
@media only screen and (max-width:850px){
    .conBody .topCatBar{
        width: 95%;
    }
    .wpapper .disCover{
        width: 95%;
    }
    .conBody .topCatBar .topCatBarCover .topCatItm{
        font-size: 19px;
    }
    .conBody .topCatBar .topCatBarCover .topCatItm span{
        font-size: 16px;
    }
    .mainCatSlt .mnSltBttn{
        width: 95%;
    }
    .wapper2 .keyBordCover{
        width: 95%;
    }
    .wapper2 .keyBordCover .keboard p{
        font-size: 33px;
        /* 27 */
    }
    .loardMor{
        width: 95%;
    }

}
@media only screen and (min-width:850px){
    .mblHideTop{
        display: block;
    }
    #topSeeMor{
        display: none;
    }
}
.keyBordCover  h3{
    background-color: rgb(204, 203, 203) !important;
    color: rgb(0, 0, 0) !important;
    font-weight: 500 !important;
}
.display1 {
    position: absolute;
    top: 20%;
    left: 30%;
    transition: all 0.5s ease-in-out;
}
.wpapper{
    position: absolute;
    top: 10%;
    left: 100%;
    position: fixed;
    transition: all 0.3s ease-in-out;
}
.barShow{
    left: 0;
}
.wpapper .disCover .display1 .displyBoder p#copiedMsg{
  background-color: rgb(34, 183, 34);
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  margin: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.5s ease-in-out;
  display: none;
}
.cppMsg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width:800px){
    .wpapper .disCover .display1 .displyBoder{

        margin: auto;
    }
    .wpapper .disCover .display1 .displyBoder p#copiedMsg{
        width: 80%;
        padding: 10px;
    }
}
.linkBoxCover {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkBoxCover .linkBackCover{
    margin: 50px 0;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.linkBoxCover .linkBackCover .linkBox{
    width: 150px;
    height: 200px;
    /* background-color: rgb(253, 218, 20); */
    padding: 20px;
    border: 1px solid rgb(70, 66, 66);
    margin: 10px;
    border-radius: 10px;
    
}
.linkBoxCover .linkBackCover .linkBox button{
    width: 100%;
    padding: 10px;
    border: none;
    margin: 10px 0 5px 0;
    background-color: #323131;
    color: white;
    border: none;
    transition: all 0.5s ease-in-out;
}
.linkBoxCover .linkBackCover .linkBox button:hover{
    background-color: #84690080;
}
.article{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article .articleCover{
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}
.article .articleCover .articleBox{
    padding: 5px;
    margin: 15px;
    color: #1d1d1d;
}
.article .articleCover .articleBox p.atlhddn{
    font-size: 28px;
    font-weight: bold;
}

.emojiMainBar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emojiMainBar .emojiBar{
    width: 80%;
   
}
.emojiMainBar .emojiBar .headinAllimoji{
    width: 100%;
    padding: 10px;background-color: goldenrod;
    color: white;
}
@media only screen and (max-width:800px){
    .article .articleCover{
        width: 100%;
    }
    .article .articleBox{
        width: 90%;
    }
    .emojiMainBar .emojiBar{
        width: 100%;
    }
}

@media only screen and (min-width:800px){
    .article .articleBox{
        width: 30%;
    }
}

footer{
    width: 100%;
    padding: 5px;
    background-color: #1d1d1d;
    color: #e2e2e2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer .footerRow{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
}
footer .footerRow .ftlogo span{
    font-size: 20px;
    font-weight: bold;
}
footer .footerRow .ftlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer .footerRow .ftlinks a {
    color: #e2e2e2;
    transition: color 0.5s ease-in-out;
    padding: 0 5px;
}
footer .footerRow .ftlinks a:hover{
    color: rgb(243, 243, 0);
}

@media only screen and (max-width:350px){
    footer .footerRow{
        padding: 5px;
    }
    footer .footerRow .ftlinks a{
        padding: 0 3px;
        font-size: 15px;
    } 
}

footer .fuuterBotem{
    width: 100%;
    background-color: #000000;
    color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.bannerAddCover{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 15px 0;
}
.bannerAddCover .bannerBox{
    width: 80%;
    
}
.bannerAddCover .bannerBox .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

@media only screen and (max-width:800px){
    .bannerAddCover .bannerBox{
        width: 95%;
    }
}

